##  compiled files  ##
######################

/bin/
/doc/javadoc/
*.class
/ecj.jar
/dev/ecj.jar


##  backup files  ##
####################

*~
\#*\#
.\#*


##  cvs files for web  ##
#########################

/web/CVS/

